 .menu-label:hover {
   color: #868dfb !important;
   /* Your desired hover color */
 }

 .pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item {
  background: none;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding-top: 0px;
  
}
 .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu>.pro-inner-item>.pro-arrow-wrapper {
   position: absolute;
   right: 80px;
   top: 50%;
   transform: translateY(-50%);
 }

 @media (max-width: 768px) {}