
.navbar {
    /* background: none!important; */
    box-shadow: none!important;
}
.css-imxxbk-MuiPaper-root-MuiAppBar-root {
    background-color: #f6f6f6!important;
}
.navbar-toggler{
    border: none !important;
}
 
