 
.subscriber-form-container {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subscriber-form-container h4 {
  margin-bottom: 30px;
  color: #6c757d;
   
}

.subscriber-form-container .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.subscriber-form-container .form-group label {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
   
}

.subscriber-form-container .form-control {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.subscriber-form-container .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.subscriber-form-container .button[type="submit"] {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ffbb38;
  border: none;
  /* border-radius: 4px; */
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscriber-form-container .button[type="submit"]:hover {
  background-color: #0056b3;
  color: #fff;
}

.subscriber-form-container .thank-you-message {
  text-align: center;
  color: #007bff;
}
