/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900'); */

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'poppins', sans-serif; */
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #f8f8f8!important;
  /* background-image: url('./assets/bg.png'); */
  background-size: 350px;
  background-position: center;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 30px auto;
}